*{
    margin: 0;
    padding: 0;
}
body{
    height: 95%;
}
.char_row{
    display: flex;
    justify-content: space-evenly;
}

img{
    margin: 0 auto;
    width: 60px;
}
#player{
    display: none;
}

.fighter_div{
    margin: 10px auto;
    width:99%;
    display: flex;
    background-color:slategrey;
    justify-content: space-evenly;
}
.member_div{
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
}
.gsd{
    width: fit-content;
    margin: 0 auto;
}



p{
    display: inline;
    text-align: center;
}
