*{
    margin: 0;
    padding: 0;
}

img{
    margin: 0 auto;
    width: 60px;
}


.fighter_div{
    margin: 0 auto;
    margin-top: 15px;
    width: 95%;
    display: flex;
    background-color:slategrey;
    justify-content: space-evenly;
}
.member_div{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
}


li{
    display: inline;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}



p{
    text-align: center;
}