*{
    margin: 0;
    padding: 0;
}
body{
    height: 95%;
}
img{
    margin: 0 auto;
    width: 60px;
}


.fighter_div{
    margin: 10px auto;
    width:99%;
    display: flex;
    background-color:slategrey;
    justify-content: space-evenly;
}
.member_div{
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
}


li{
    display: inline;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

p{
    text-align: center;
}